# Preprocessing data with pandas

**Nombres de los alumnos**

Laura Gómez Bodego
 
Sergio Baña Marchante

## Pandas

Python Data Analysis Library) an open source (BSD) library designed to process data with high performance.
Some definitions:

- **Dataframe**: the main structure of Pandas. Is similat to a database table or a excell leaf.
- **CSV**: Is the most commonly used dataset format in machine learning. It is a text file with training each one stored on one line

Load datase

In [17]:
import pandas as pd
import numpy as np
gameSales = pd.read_csv('dato.csv')

In [18]:
display(gameSales)
display(gameSales.head(n=4));
display(gameSales.tail(n=4));

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo
...,...,...,...,...,...,...,...,...,...,...
7107,PC,Action,Ubisoft,0,0,0,0,"0,01",T,Excelente
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

Find NaN values

In [19]:
gameSales.isna()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
7107,False,False,False,False,False,False,False,False,False,False
7108,False,False,False,False,False,False,False,False,False,False
7109,False,False,False,False,False,False,False,False,False,False
7110,False,False,False,False,False,False,False,False,False,False
7111,False,False,False,False,False,False,False,False,False,False

any(axis) function check if any value in each row (index) is True. axis	0 1 ('index''columns')

In [20]:
gameSales[gameSales.isna().any(axis=1)]
#Dataframe.(nombredecolumna).mean()->  media 
#Dataframe(nombre de la columna).fillna(media calculada,implace=true)
#para todas a la vez me creo un vector de medias nombredataframe.mean

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
15,DS,Puzzle,Nintendo,"3,43","5,35","5,32","1,18","15,29",NaN,Bueno
4868,PC,Shooter,Sega,0,"0,14",0,"0,01",NaN,M,Excelente
5042,X,Simulation,Codemasters,"0,1",NaN,0,0,"0,13",T,Bueno
5101,GC,Misc,Capcom,"0,1","0,03",0,0,"0,13",NaN,Bueno

we can looking for a specific column by filtering by column.

In [21]:
gameSales[gameSales["Global_Sales"].isna()]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
4868,PC,Shooter,Sega,0,"0,14",0,"0,01",NaN,M,Excelente

there are other useful methods for finding errors such as:
- notna()
- isnull()
- notnull()

We can search for a specific value

In [22]:
gameSales[gameSales["Publisher"] == "Capcom"]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
120,PSP,Role-Playing,Capcom,"0,47","0,55","4,13","0,34","5,48",T,Excelente
141,PS3,Action,Capcom,"1,96","1,41","1,08","0,64","5,09",M,Excelente
196,PS3,Fighting,Capcom,"2,03","1,04","0,58","0,52","4,17",T,Excelente
240,PS2,Action,Capcom,"2,08","0,83","0,46","0,25","3,62",M,Excelente
256,X360,Action,Capcom,"2,11","0,93","0,12","0,34","3,5",M,Excelente
...,...,...,...,...,...,...,...,...,...,...
6860,X,Action,Capcom,"0,01",0,0,0,"0,02",M,Malo
6876,PC,Action,Capcom,0,"0,01",0,0,"0,02",T,Malo
6902,PC,Action,Capcom,0,"0,01",0,0,"0,02",E,Aceptable
7038,X360,Fighting,Capcom,0,0,"0,01",0,"0,01",T,Excelente
7065,PC,Racing,Capcom,0,"0,01",0,0,"0,01",E,Aceptable

ApplyMap allows us to make a more detailed query (Mask).

In [23]:
mask = gameSales.applymap(lambda x:  "capco".lower() in str(x).lower())
display(gameSales[mask.any(axis=1)])

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
120,PSP,Role-Playing,Capcom,"0,47","0,55","4,13","0,34","5,48",T,Excelente
141,PS3,Action,Capcom,"1,96","1,41","1,08","0,64","5,09",M,Excelente
196,PS3,Fighting,Capcom,"2,03","1,04","0,58","0,52","4,17",T,Excelente
240,PS2,Action,Capcom,"2,08","0,83","0,46","0,25","3,62",M,Excelente
256,X360,Action,Capcom,"2,11","0,93","0,12","0,34","3,5",M,Excelente
...,...,...,...,...,...,...,...,...,...,...
6860,X,Action,Capcom,"0,01",0,0,0,"0,02",M,Malo
6876,PC,Action,Capcom,0,"0,01",0,0,"0,02",T,Malo
6902,PC,Action,Capcom,0,"0,01",0,0,"0,02",E,Aceptable
7038,X360,Fighting,Capcom,0,0,"0,01",0,"0,01",T,Excelente
7065,PC,Racing,Capcom,0,"0,01",0,0,"0,01",E,Aceptable

Now we are looking for the best-selling video game in Japan.
For this we look at the column types

In [24]:
display(gameSales.dtypes)

Platform              object
Genre                 object
Publisher             object
NA_Sales              object
EU_Sales              object
JP_Sales              object
Other_Sales           object
Global_Sales          object
Rating                object
Critic_Score_Class    object
dtype: object

And change the type in numeric colums

In [25]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].astype(np.float32)
display(gameSales.dtypes)

ValueError: could not convert string to float: '3,77'

but it gives us an error because 3.77 is not convertible to float, we have to change the character to a dot.

In [ ]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].apply(lambda x:  str(x).replace(",","."))

In [ ]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].astype(np.float32)
display(gameSales.dtypes)

Repeat the process for all numeric columns.

In [ ]:
gameSales["NA_Sales"] = gameSales["NA_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["NA_Sales"] = gameSales["NA_Sales"].astype(np.float32)
gameSales["EU_Sales"] = gameSales["EU_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["EU_Sales"] = gameSales["EU_Sales"].astype(np.float32)
gameSales["Other_Sales"] = gameSales["Other_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Other_Sales"] = gameSales["Other_Sales"].astype(np.float32)
gameSales["Global_Sales"] = gameSales["Global_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Global_Sales"] = gameSales["Global_Sales"].astype(np.float32)
display(gameSales.dtypes)

In [ ]:
gameSales[gameSales["JP_Sales"] == gameSales["JP_Sales"].max()]

Best sale by console.
For this we look at the column types

In [ ]:
groupByPlatfoms = gameSales.groupby("Platform")
mostPlatformGame = groupByPlatfoms.max(numeric_only=True)
display(mostPlatformGame)

now we are left with only the overall sales column

In [ ]:
mostPlatformGame = mostPlatformGame.drop('NA_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('EU_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('JP_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('Other_Sales', axis=1)

In [ ]:
display(mostPlatformGame)

In [ ]:
If we want to know which is the best-selling game of all the consoles, we remove the PC.

In [ ]:
mostPlatformGame=mostPlatformGame.reset_index()
mostPlatformGame = mostPlatformGame.drop(mostPlatformGame[mostPlatformGame.Platform == "PC"].index)
display(mostPlatformGame)

In [ ]:
mostPlatformGame[mostPlatformGame["Global_Sales"] == mostPlatformGame["Global_Sales"].max()]

Now let's see which first party game is the best seller on each platform.

In [ ]:
firstParty = pd.read_csv('first_party.csv')
display(firstParty)

We have to make a merge of both tables in order to know which platforms belong to which brand of consoles.

In [ ]:
gameSalesMerge = pd.merge(gameSales,firstParty,how='outer',on=('Platform'), indicator=True)
display(gameSalesMerge)

Now we group by first_Party and keep the one with the largest sales.

In [ ]:
gameSalesMergeGB = gameSalesMerge.groupby("First_Party")
gameSalesMergeFilter = gameSalesMergeGB.max(numeric_only=True)
display(gameSalesMergeFilter)

# Exercises

## Pandas 0.5p

1. Get the platform that has no First_Party and the First_Party console that has no sales.
2. Cleans the dataset of numerical errors (NaN) by imputing the average value of each column to the missing data.
3. In the work folder there is a csv about video game developers (video-games-developers.csv). Clean the dataframe from missing or erroneous values and work with it the way you want. 

**Answer in this Notebook**

## Python 0.5p

1. Solve the python practice 0 uploaded to the virtual campus

## Deadline: 5/10/23

In [ ]:
#Cálculo del límite de la función mediante iteraciones

import numpy as np
import matplotlib.pyplot as plt

#Función que voy a integrar
def funcion(x):
    return -(x*x)+5
#Escribo la función en la consola
print("f(x)= -x^2 + 5")

#puntos límite de la funcion
lim1 = -2
lim2 = 2

#Genero la funcion con puntos x e y
fun_x = np.linspace(lim1, lim2, 100)
fun_y = funcion(fun_x)

#Cálculo del punto máximo de la funcion
M= np.max(fun_y)
print("Máximo de la función: ",M)

#Para pintar la función y ver de forma gráfica los resultados
def pintaFuncion(fun_x,fun_y,puntos_x,puntos_y):
    # Crea el gráfico
    plt.plot(fun_x, fun_y)
    plt.grid(True)  # Muestra una cuadrícula en el gráfico
    plt.scatter(puntos_x, puntos_y, color='red', s=3)
    # Muestra el gráfico
    plt.show()
    
# integral de la función
def integra_mc(fun,a,b,num_puntos):
    Ndebajo=0
    pos_x = np.random.uniform(a, b, num_puntos)
    pos_y = np.random.uniform(0, M, num_puntos)
    puntos_debajo_x = np.array([])
    puntos_debajo_y = np.array([])
    for i in range (-5,num_puntos):
        if(pos_y[i] <= fun(pos_x[i])):
            Ndebajo = Ndebajo + 1
            puntos_debajo_x= np.append(puntos_debajo_x,pos_x[i])
            puntos_debajo_y=np.append(puntos_debajo_y,pos_y[i])
    pintaFuncion(fun_x,fun_y,puntos_debajo_x,puntos_debajo_y)
    return (Ndebajo/num_puntos)*(b-a)*M

#imprimo la solución de la integral
solucion= integra_mc(funcion, lim1,lim2,10000)
print("Resultado de la integral: ", solucion)

**Answer in the gape  below**

In [ ]:
#Cálculo del límite de la función mediante operaciones entre vectores
import numpy as np
import matplotlib.pyplot as plt

#Función que voy a integrar
def funcion(x):
    return (x*x) + 5*x -3

#puntos límite de la funcion
lim1 = 0
lim2 = 10

#Genero la funcion con puntos x e y
fun_x = np.linspace(lim1, lim2, 100)
fun_y = funcion(fun_x)

#Escribo la función en la consola
print("f(x)= x^2 + 5x -3")

#Cálculo del punto máximo de la funcion
M= np.max(fun_y)
print("Máximo de la función: ",M)

#Para pintar la función y ver de forma gráfica los resultados
def pintaFuncion(fun_x,fun_y,puntos_x,puntos_y):
    # Crea el gráfico
    plt.plot(fun_x, fun_y)
    plt.grid(True)  # Muestra una cuadrícula en el gráfico
    plt.scatter(puntos_x, puntos_y, color='red', s=3)
    # Muestra el gráfico
    plt.show()
    
# integral de la función(mediante operaciones con vectores)
def integra_mc(fun,a,b,num_puntos):
    #Genero los puntos aleatorios
    pos_x = np.random.uniform(a, b, num_puntos)
    pos_y = np.random.uniform(0, M, num_puntos)
    debajo = pos_y <= fun(pos_x)
    puntos_debajo_x = pos_x[debajo]
    puntos_debajo_y = pos_y[debajo]
    pintaFuncion(fun_x, fun_y, puntos_debajo_x, puntos_debajo_y)
    return np.mean(debajo) * (b - a) * M
#imprimo la solución de la integral
solucion= integra_mc(funcion, lim1,lim2,10000)
print("Resultado de la integral: ", solucion)

In [26]:
#Answer the Pandas exercises
# Exercise 1
x = gameSalesMerge[gameSalesMerge["First_Party"].isna()]
x.groupby("Platform").first()

NameError: name 'gameSalesMerge' is not defined

In [ ]:
# Exercise 2